export HUBOT_SLACK_TOKEN=xxxx-0000000000-xxxxxxxxxxxxxxxxxxxxxxxx
export HUBOT_SLACK_BOTNAME=hubot
export HUBOT_SLACK_TEAM=nagachika
export HUBOT_AUTH_ADMIN=U00000000
export HUBOT_GITHUB_TOKEN=ffffffffffffffffffffffffffffffffffffffff

## base64 encoded apps.json for hubot-deploy (https://github.com/atmos/hubot-deploy/blob/master/docs/config-file.md)
## you can encode apps.json by `jq '.|@text|@base64' apps.json`,
## and decode it by `echo "${HUBOT_DEPLOY_APPS_JSON_BASE64}" | base64 -d`
export HUBOT_DEPLOY_APPS_JSON_BASE64=eyJodWJvdCI6eyJwcm92aWRlciI6Imhlcm9rdSIsImF1dG9fbWVyZ2UiOmZhbHNlLCJyZXBvc2l0b3J5IjoiTXlPcmcvbXktb3JnLWh1Ym90IiwiZW52aXJvbm1lbnRzIjpbInByb2R1Y3Rpb24iXSwiaGVyb2t1X3Byb2R1Y3Rpb25fbmFtZSI6Im15LW9yZ3MtaHVib3QifSwiZG90Y29tIjp7InByb3ZpZGVyIjoiaGVyb2t1IiwicmVwb3NpdG9yeSI6Ik15T3JnL3d3dyIsImVudmlyb25tZW50cyI6WyJwcm9kdWN0aW9uIiwic3RhZ2luZyJdLCJyZXF1aXJlZF9jb250ZXh0cyI6WyJjaS9qYW5reSIsInNlY3VyaXR5L2JyYWtlbWFuIl0sImhlcm9rdV9zdGFnaW5nX25hbWUiOiJteS1vcmctd3d3LXN0YWdpbmciLCJoZXJva3VfcHJvZHVjdGlvbl9uYW1lIjoibXktb3JnLXd3dyJ9fQ=========

## The key used for encrypting your tokens in the hubot's brain.
## (`dd if=/dev/urandom bs=32 count=1 2>/dev/null | openssl base64`)
## see also: https://github.com/ys/hubot-vault
export HUBOT_FERNET_SECRETS=qKsldAygqmoc1EQ4jk1xxCzgpFg4solD8ysslBvKd/E=

