HUBOT_SLACK_TOKEN=xxxx-0000000000-xxxxxxxxxxxxxxxxxxxxxxxx
HUBOT_SLACK_BOTNAME=hubot
HUBOT_SLACK_TEAM=nagachika
HUBOT_AUTH_ADMIN=U00000000
HUBOT_GITHUB_TOKEN=ffffffffffffffffffffffffffffffffffffffff
REDIS_URL=redis://localhost:6379/prefix
